<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388050837273-2eq08lt7hikkm6mqbr8i2r1886spk1ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388050837273-2eq08lt7hikkm6mqbr8i2r1886spk1ic</string>
	<key>API_KEY</key>
	<string>AIzaSyBFNT2mWml7uX2xKMsmM-rVwzR0dc1yK8U</string>
	<key>GCM_SENDER_ID</key>
	<string>388050837273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palestinian.events.app.eventsApp</string>
	<key>PROJECT_ID</key>
	<string>events-app-7f237</string>
	<key>STORAGE_BUCKET</key>
	<string>events-app-7f237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388050837273:ios:617b844ae14a3448bb2f88</string>
</dict>
</plist>